html {
  --primary-color: #5956e9;
  --primaty-white: #ffffff;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #232233;
}

.hero {
  background-image: url(../images/BackgroundImage.jpg);
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.p__grey {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
}

.p__white {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 12px;
}

/*  Nav  */

.nav {
  display: flex;
  flex-direction: column;
}

.nav__top {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.nav__top-list {
  display: flex;
  gap: 47px;
}

.nav__top-item {
  display: flex;
  gap: 19px;
  color: var(--primaty-white);
}

.nav__icons {
  display: flex;
  gap: 32px;
}

.nav__list {
  display: flex;
  gap: 38px;
  align-items: center;
  background: var(--primaty-white);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 3px 5px 3px 52px;
  display: flex;
}

.nav__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
  text-decoration: none;
}

.nav__item--right {
  margin-left: auto;
}

.nav__link:hover {
  color: var(--primary-color);
  text-decoration-line: underline;
  line-height: 130%;
}

.btn__blue {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
}

.nav__logo {
  position: relative;
  left: 480px;
  top: 45px;
  padding: 40px 16px 30px 16px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
/*  Nav  */
/*  Hero  */

.hero__content {
  display: flex;
  align-items: center;
  padding-bottom: 83px;
  padding-top: 67px;
  position: relative;
}

.hero__title {
  font-weight: 700;
  font-size: 49px;
  line-height: 63px;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 18px;
}

.hero__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
  margin-bottom: 52px;
}

.hero__download {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: #232233;
}

.hero__info {
  position: absolute;
  background-color: #ffffff;
  max-width: 570px;
  height: auto;
  padding: 40px 0px 40px 30px;
  box-sizing: border-box;
}

.hero__desc {
  max-width: 487px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
}

.hero__options {
  display: flex;
  gap: 14px;
}

.hero__option:hover {
  cursor: pointer;
}

.hero__img {
  position: relative;
  left: 174px;
}

.hero__info-rectangle {
  position: relative;
  left: 50px;
}

/*  Hero  */

/*  About  */

.about__head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

.about__title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
  margin-bottom: 18px;
}

.about__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6c6c72;
  max-width: 600px;
  margin-bottom: 60px;
}

.about__section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.about__characteristic-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.characteristic__headline {
  display: flex;
  gap: 19px;
  margin-bottom: 12px;
  padding-left: 20px;
}

.about__characteristic {
  padding: 30px 20px 20px 0;
  box-sizing: border-box;
  max-width: 570px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about__characteristic-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
}

.about__characteristic-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
  padding-left: 59px;
}

.about__HeroEclipse {
  border-radius: 80%;
  width: 212px;
  height: 71px;
  border: none;
  background: var(--primaty-white);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 490px;
  right: 320px;
}

.about__hero-img {
  z-index: 1;
}

/*  About  */

/*  Features  */
.features {
  background-image: url(../images/Background__features.svg);
  min-height: 100vh;
}

.features__head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features__header-title {
  font-weight: 700;
  font-size: 31px;
  line-height: 47px;
  text-transform: uppercase;
  color: var(--primaty-white);
  margin-bottom: 18px;
  margin-top: 120px;
}

.features__header-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--primaty-white);
  max-width: 600px;
  margin-bottom: 60px;
}

.feature__icon {
  margin-bottom: 23px;
}

.feature__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: var(--primaty-white);
  margin-bottom: 18px;
}

.feature__title {
  text-align: center;
}

.feature__title-left {
  display: flex;
  align-items: flex-end;
  text-align: right;
}

.feature__title-right {
  display: flex;
  align-items: flex-end;
  text-align: left;
}

.feature__desc-middle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--primaty-white);
  max-width: 300px;
  margin-bottom: 120px;
}

.features__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}

.feature__list {
  display: flex;
  flex-direction: column;
  gap: 347px;
}

.feature__item-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feature__item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature__desc-left {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--primaty-white);
  text-align: right;
}
.feature__desc-right {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--primaty-white);
  text-align: left;
}

.features__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features__hero {
  max-width: 400px;
  height: auto;
  align-self: center;
}
/*  Features   */

/*  Download   */

.download__container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 135px;
  gap: 80px;
}

.download__info {
  max-width: 570px;
}

.download__title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
}

.download__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
  padding-bottom: 40px;
}

.download__icons {
  display: flex;
  gap: 25px;
  padding-bottom: 60px;
}

.download__list {
  display: flex;
  gap: 30px;
}

.download__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 35px 0 20px 0;
  width: 170px;
  height: 176px;
  box-sizing: border-box;
}

.download__stat-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--primaty-white);
  padding: 22px 0 18px 0;
}

.download__stat-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--primaty-white);
}

/*  Download   */

/*  Team   */

.team__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 60px 0;
}

.team__title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
  padding-bottom: 23px;
}

.team__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6c6c72;
  max-width: 600px;
}

.team__info {
  padding-bottom: 220px;
}

.team__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primaty-white);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 22px 53px 22px;
}

.team__person-title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
  padding-top: 65px;
}

.team__person-position {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #6c6c72;
}

.team__person-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6c6c72;
  max-width: 325px;
  padding: 14px 0 40px 0;
}

.team__person-links {
  display: flex;
}

.team__person-li {
  padding: 0 37px 0 37px;
  border-right: solid 1px #232233;
}

.team__person-li:last-child {
  border-right: none;
}

.person__li-icon {
  filter: brightness(0) saturate(100%) invert(9%) sepia(19%) saturate(1238%)
    hue-rotate(204deg) brightness(98%) contrast(89%);
  transition: ease-in-out 0.2s;
}

.person__li-icon:hover {
  filter: brightness(0) saturate(100%) invert(40%) sepia(93%) saturate(4582%)
    hue-rotate(232deg) brightness(95%) contrast(93%);
}

.person__frame {
  width: 220px;
  height: 220px;
}

.person__photo {
  height: auto;
  position: relative;
  bottom: 215px;
  left: 11px;
}

/*  Team   */

/*  Footer  */

.footer {
  height: 540px;
  background-color: #232233;
}

.footer__container {
  position: relative;
}

.contact {
  background-color: var(--primaty-white);
  border-radius: 30px;
  padding: 65px 50px 65px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 20px 20px 40px 20px rgba(0, 0, 0, 0.1);

  position: absolute;
  left: 0;
  top: -124px;
  right: 0;
}

.contact__list {
  display: flex;
  align-items: center;
}

.contact__item {
  display: flex;
  align-items: center;
  border-right: 4px solid #6c6c72;
  padding-left: 50px;
}

.contact__item:last-child {
  border: none;
}

.contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 18px;
}

.contact__icon {
  width: 40px;
  height: auto;
}

.contact__info {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: lowercase;
  color: #232233;
  padding-right: 184px;
  white-space: nowrap;
}

/*  Footer Main  */

.footer__info {
  display: flex;
  justify-content: center;
  gap: 245px;
  padding-top: 235px;
}

.footer__navigation {
  display: flex;
  gap: 65px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  max-width: 335px;
}

.footer__title-big {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: var(--primaty-white);
}

.footer__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: var(--primaty-white);
  white-space: nowrap;
}

.footer__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--primaty-white);
}

.footer__desc-logo {
  padding-bottom: 38px;
}

.footer__media {
  display: flex;
}

.footer__link {
  padding: 0 37px 0 37px;
  border-right: var(--primaty-white) 1px solid;
}

.footer__link:first-child {
  padding-left: 7px;
}

.footer__link:last-child {
  border-right: none;
}

.footer__link-icon:hover {
  filter: brightness(0) saturate(100%) invert(40%) sepia(93%) saturate(4582%)
    hue-rotate(232deg) brightness(95%) contrast(93%);
}

.footer__qlink-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.footer__qlink-item:hover {
  cursor: pointer;
}

.letter__desc {
  padding: 10px 0 30px 0;
  max-width: 300px;
}

/*  Check here  */
.input__box {
  position: relative;
  display: flex;
  align-items: center;
}

.footer__input {
  width: 370px;
  height: 50px;
  font-size: 14px;
  background: var(--primaty-white);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232233;
}

.footer__input::placeholder {
  color: #6c6c72;
}

.input__button {
  position: absolute;
  left: 320px;
  padding: 11px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--primary-color);
  border-radius: 4px;
}

/*  Footer Main  */
/*  Footer  */
