html {
  --primary-color: #5956e9;
  --primaty-white: #ffffff;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #232233;
}

.hero {
  background-image: url(../images/BackgroundImage.jpg);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.section-title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
}

.section-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 12px;
}

/*  Nav  */

.nav {
  display: flex;
  flex-direction: column;
}

.nav__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.nav__top-list {
  display: flex;
  gap: 47px;
}

.nav__top-item {
  display: flex;
  gap: 19px;
  color: var(--primaty-white);
}

.nav__icons {
  display: flex;
  gap: 32px;
  margin-right: 10px;
}

.nav__lists {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 360px;
  background: var(--primaty-white);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 3px 5px 3px 52px;
  display: flex;
}
.nav__list-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.nav__list-left li:last-child {
  display: none;
}
.nav__list-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav__menu {
  display: none;
}

.nav__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
  text-decoration: none;
}

.nav__item--right {
  margin-left: auto;
}

.nav__link:hover {
  color: var(--primary-color);
  text-decoration-line: underline;
  line-height: 130%;
}

.btn__blue {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
}

.nav__logo-container {
  position: absolute;
}
.nav__logo {
  position: absolute;
  left: 480px;
  top: -15px;
  padding: 30px 16px 30px 16px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.nav__main {
  margin-top: 15px;
}

.nav-toggle-button {
  background: none;
  border: none;
  z-index: 3;
}

/*  Nav  */
/*  Hero  */

.hero__container {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  align-items: center;
  padding-bottom: 83px;
  padding-top: 67px;
  position: relative;
  max-width: 100%;
  height: auto;
}

.hero__content {
  max-width: 100%;
  min-width: 50%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

.hero__title {
  font-weight: 700;
  font-size: 49px;
  line-height: 63px;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 18px;
}

.hero__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
  margin-bottom: 52px;
}

.hero__download-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #232233;
}

.hero__info {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  max-width: 570px;
  height: auto;
  padding: 40px 0px 40px 30px;
  box-sizing: border-box;
  position: relative;
  top: 38px;
  flex-shrink: 1;
}

.hero__desc {
  max-width: 487px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
}

.hero__options-desc {
  display: flex;
  gap: 14px;
}

.hero__option:hover {
  cursor: pointer;
}

.hero__img {
  position: relative;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.hero__info-rectangle {
  position: absolute;
  left: 50px;
}

.nav__list-menu {
  display: none;
}

@media (max-width: 1100px) {
  .nav__list-left li {
    display: none;
  }
  .nav__list-right li {
    display: none;
  }
  .nav__list-left li:last-child {
    display: flex;
  }
  .nav__list-right li:last-child {
    display: flex;
  }
  .nav__lists {
    justify-content: space-between;
    padding: 3px 5px 3px 20px;
    gap: 0px;
  }
  .hero__title {
    font-size: 31.25px;
    line-height: 47px;
  }
  .hero__info-rectangle {
    width: 520px;
    left: 15px;
    top: 10px;
  }
  .nav__logo {
    left: 450px;
  }
}

@media (max-width: 680px) {
  .hero__title {
    font-size: 25px;
    line-height: 38px;
  }
  .hero__container {
    flex-direction: column;
    gap: 100px;
  }

  .hero__info {
    max-width: 470px;
  }

  .hero__img {
    width: 80%;
    height: auto;
    left: 90px;
  }
  .hero__info-rectangle {
    max-height: 470px;
    top: 10px;
    left: 5px;
  }
  .nav__logo {
    left: 230px;
  }
  .btn__blue {
    height: 50px;
    font-size: 10px;
    line-height: 10px;
  }
  .nav__top-list {
    display: none;
  }
  .nav__icons {
    display: none;
  }
  .nav__list-menu.nav__open li {
    display: flex;
  }
}
@media (max-width: 450px) {
  .nav__logo {
    left: 140px;
    top: -13px;
  }
  .nav__logo-img {
    width: 100px;
    height: auto;
  }
  .hero__img {
    min-width: 140%;
  }
}
.nav__list-menu.nav__open li {
  display: flex;
}
.nav__list-menu.nav__open li {
  display: flex;
}

.nav__open {
  background-color: var(--primaty-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/*  Hero  */

/*  About  */

.about__head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

.about__title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
  margin-bottom: 18px;
}

.about__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6c6c72;
  max-width: 600px;
  margin-bottom: 60px;
}

.about__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
}

.about__characteristic-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.characteristic__headline {
  display: flex;
  gap: 19px;
  margin-bottom: 12px;
  padding-left: 20px;
}

.about__characteristic {
  padding: 30px 20px 20px 0;
  box-sizing: border-box;
  max-width: 570px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about__characteristic-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #232233;
}

.about__characteristic-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
  padding-left: 59px;
}

.about__HeroEclipse {
  display: flex;
  border-radius: 80%;
  width: 210px;
  height: 70px;
  border: none;
  background: var(--primaty-white);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 80px;
  bottom: 55px;
}

@media (max-width: 680px) {
  .about__section {
    flex-direction: column;
  }
}
/*  About  */

/*  Features  */
.features {
  background-image: url(../images/Background__features.svg);
}

.features__head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features__header-title {
  font-weight: 700;
  font-size: 31px;
  line-height: 47px;
  text-transform: uppercase;
  color: var(--primaty-white);
  margin-bottom: 18px;
  margin-top: 120px;
}

.features__header-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--primaty-white);
  max-width: 600px;
  margin-bottom: 60px;
}

.feature__icon {
  margin-bottom: 23px;
}

.feature__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primaty-white);
  margin-bottom: 18px;
}

.feature__title-left {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  display: flex;
  text-align: right;
  text-transform: uppercase;
  color: var(--primaty-white);
  margin-bottom: 18px;
}

.feature__title-right {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  display: flex;
  text-align: left;
  text-transform: uppercase;
  color: var(--primaty-white);
  margin-bottom: 18px;
}

.feature__desc-middle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--primaty-white);
  max-width: 300px;
  margin-bottom: 60px;
}

.features__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__list {
  display: flex;
  flex-direction: column;
  gap: 345px;
}

.feature__item-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 350px;
  margin-right: 60px;
}

.feature__item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 350px;
  margin-left: 60px;
}

.feature__desc-left {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: var(--primaty-white);
}

.feature__desc-right {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: var(--primaty-white);
}

.features__bottom {
  margin-top: 60px;
}

.features__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1100px) {
  .feature__list {
    gap: 150px;
  }
  .feature__item-left {
    margin-right: 30px;
  }
  .feature__item-right {
    margin-left: 30px;
  }
}

@media (max-width: 680px) {
  .features__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .feature__list {
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .feature__item-left {
    align-items: center;
    margin-right: 0;
  }
  .feature__title-left {
    text-align: center;
  }
  .feature__desc-left {
    text-align: center;
  }
  .feature__item-right {
    align-items: center;
    margin-left: 0;
  }
  .feature__title-right {
    text-align: center;
  }
  .feature__desc-right {
    text-align: center;
  }
  .features__hero {
    max-width: 100%;
    height: auto;
    margin: 60px 0 60px 0;
  }
  .features__bottom-wrapper {
    margin-top: 90px;
    position: static;
  }
}
/*  Features   */

/* Interfaces  */
.interfaces {
  padding-top: 120px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: 100% !important;
  position: relative;
  margin-top: 40px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  opacity: 1;
  border-radius: 16px;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.swiper-pagination-bullet-active {
  border: 1px solid var(--primary-color);
  background-clip: content-box;
  padding: 2px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 300px;
  bottom: 1px;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--primaty-white);
  border: var(--primary-color) 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swiper-button-prev {
  left: -50px;
}

.swiper-button-next {
  right: -50px;
}

.interfaces__slider {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1400px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: auto;
  height: auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background-color: var(--primaty-white);
  color: var(--primary-color);
}

.interfaces__slider-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.interfaces__slider-nav {
  display: flex;
  gap: 20px;
}

.swiper-img {
  max-width: 100%;
  height: auto;
}

.interfaces__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Interfaces-title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: #232233;
}

.Interfaces-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6c6c72;
  max-width: 600px;
  padding: 23px 0 60px 0;
}
/* Interfaces  */

/*  Download   */

.download__container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 135px;
  gap: 80px;
}

.download__info {
  max-width: 100%;
  height: auto;
}

.download__title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
}

.download__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
  padding-bottom: 40px;
  max-width: 570px;
}

.download__icons {
  display: flex;
  gap: 25px;
  padding-bottom: 60px;
}

.download__icons:hover {
  cursor: pointer;
}

.download__list {
  display: flex;
  gap: 30px;
}

.download__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 35px 0 20px 0;
  flex: 1 1 150px;
  max-width: 200px;
  min-width: 110px;
  aspect-ratio: 1 / 1;
  padding: 0;
  box-sizing: border-box;
}

.download__stat-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--primaty-white);
  padding: 18px 0 18px 0;
}

.download__stat-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primaty-white);
}

.download__hero {
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
}

.download__HeroEclipse {
  display: flex;
  border-radius: 80%;
  width: 210px;
  height: 70px;
  border: none;
  background: var(--primaty-white);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 150px;
  bottom: 55px;
}

.about__hero-img {
  max-width: 100%;
  min-width: 50%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

@media (max-width: 1100px) {
  .download__stat-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .download__stat-title {
    font-size: 20px;
    line-height: 30px;
    padding: 8px 2px 0 2px;
  }
  .download__stat-icon {
    margin-top: 10px;
  }
  .download__hero {
    left: 20px;
  }
}
@media (max-width: 680px) {
  .download__container {
    flex-direction: column;
  }
  .download__hero {
    max-width: 80%;
    left: 50px;
  }
  .download__list {
    gap: 18px;
  }
  .download__HeroEclipse {
    left: 200px;
  }
}
/*  Download   */

/*  Team   */

.team__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 60px 0;
}

.team__title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
  padding-bottom: 23px;
}

.team__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6c6c72;
  max-width: 600px;
}

.team__info {
  padding-bottom: 220px;
}

.team__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primaty-white);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 22px 53px 22px;
}

.team__person-title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  text-align: center;
  color: #232233;
  padding-top: 65px;
}

.team__person-position {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #6c6c72;
}

.team__person-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6c6c72;
  max-width: 325px;
  padding: 14px 0 40px 0;
}

.team__person-links {
  display: flex;
}

.team__person-li {
  padding: 0 37px;
  border-right: solid 1px #232233;
}

.team__person-li:last-child {
  border-right: none;
}

.person__li-icon {
  filter: brightness(0) saturate(100%) invert(9%) sepia(19%) saturate(1238%)
    hue-rotate(204deg) brightness(98%) contrast(89%);
  transition: ease-in-out 0.2s;
}

.person__li-icon:hover {
  filter: brightness(0) saturate(100%) invert(40%) sepia(93%) saturate(4582%)
    hue-rotate(232deg) brightness(95%) contrast(93%);
}

.person__frame {
  width: 220px;
  height: 220px;
}

.person__photo {
  height: auto;
  position: relative;
  bottom: 215px;
  left: 11px;
}

@media (max-width: 1400px) {
  .team__person-li {
    padding: 0 16px;
  }
}

@media (max-width: 680px) {
  .team__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team__person-li {
    padding: 0 37px;
  }
}

/*  Team   */

/*  Footer  */

.footer {
  background-color: #232233;
}

.footer__container {
  position: relative;
  flex-shrink: 1;
}

.contact__container {
  background-color: var(--primaty-white);
  border-radius: 30px;
  padding: 65px 0 65px 0;
  margin: 0 5px 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 20px 20px 40px 20px rgba(0, 0, 0, 0.1);

  position: absolute;
  left: 0;
  top: -124px;
  right: 0;
}

.contact__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__item {
  display: flex;
  align-items: center;
  border-right: 4px solid #6c6c72;
  padding-left: 50px;
}

.contact__item:last-child {
  border: none;
}

.contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 18px;
  border: none;
}

.contact__button:hover {
  cursor: auto;
}

.contact__button-hover:hover {
  cursor: pointer;
}

.contact__icon {
  width: 40px;
  height: auto;
}

.contact__info {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: lowercase;
  color: #232233;
  padding-right: 184px;
  white-space: nowrap;
}

/*  Footer Main  */

.footer__info {
  display: flex;
  justify-content: space-between;
  padding-top: 235px;
  padding-bottom: 65px;
  border-bottom: var(--primaty-white) 1px solid;
}

.footer__navigation {
  display: flex;
  gap: 65px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  max-width: 335px;
}

.footer__title-big {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: var(--primaty-white);
}

.footer__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  color: var(--primaty-white);
  white-space: nowrap;
}

.footer__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--primaty-white);
}

.footer__desc-logo {
  padding-bottom: 38px;
}

.footer__media {
  display: flex;
}

.footer__link {
  padding: 0 37px 0 37px;
  border-right: var(--primaty-white) 1px solid;
}

.footer__link:first-child {
  padding-left: 7px;
}

.footer__link:last-child {
  border-right: none;
}

.footer__link-icon:hover {
  filter: brightness(0) saturate(100%) invert(40%) sepia(93%) saturate(4582%)
    hue-rotate(232deg) brightness(95%) contrast(93%);
}

.footer__qlink-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.footer__qlink-item:hover {
  cursor: pointer;
}

.letter__desc {
  padding: 10px 0 30px 0;
  max-width: 300px;
}

.input__box {
  position: relative;
  display: flex;
  align-items: center;
}

.footer__input {
  width: 370px;
  height: 50px;
  font-size: 14px;
  background: var(--primaty-white);
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232233;
}

.footer__input::placeholder {
  padding-left: 18px;
  color: #6c6c72;
}

.input__button {
  position: absolute;
  left: 320px;
  padding: 11px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--primary-color);
  border-radius: 4px;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.footer__copyright-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--primaty-white);
  padding: 20px 0 20px 0;
}

@media (max-width: 1100px) {
  .contact__container {
    padding: 45px 0px 45px 0;
    top: -100px;
  }
  .contact__info {
    padding-right: 103px;
  }
  .footer__info {
    gap: 115px;
  }
  .footer__navigation {
    gap: 25px;
  }
  .footer__input {
    width: 300px;
  }
  .input__button {
    left: 250px;
  }
}

@media (max-width: 680px) {
  .contact__container {
    justify-content: center;
    padding: 10px 0 10px 0;
    margin: 0 60px;
    top: -180px;
  }
  .contact__info {
    padding: 20px 0 20px 0;
  }
  .footer__info {
    flex-direction: column;
    gap: 60px;
  }
  .footer__navigation {
    flex-direction: column;
    gap: 60px;
  }
  .contact__list {
    flex-direction: column;
    gap: 30px;
  }
  .contact__item {
    padding: 0;
    flex-direction: column;
    border-right: none;
    border-bottom: 4px solid #6c6c72;
  }
  .contact__icon {
    max-width: 20px;
  }
  .contact__button {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 450px) {
  .footer__copyright-desc {
    font-size: 13px;
    line-height: 16px;
  }
}
/*  Footer Main  */
/*  Footer  */
